[Unit]
Description=xremap service

[Service]
ExecStart=/usr/bin/xremap /home/uedayasuto/.config/xremap/config.yml
# restart periodically
Restart=always

[Install]
WantedBy=default.target
